* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 80%;
    margin: auto;
}

.debug .site_header {
    height: 150px;
}

.site_header {
    margin-top: 40px;
    background-color: blueviolet;
}

.debug .immagine {
    height: 500px;
}

.immagine {
    margin-top: 40px;
    background-color: lightcoral;
}

.debug .container {
    height: 700px;
}

.debug .head {
    height: 85px;
}

.head {
    background-color: violet;
}

.container {
    margin-top: 40px;
    background-color: lightgreen;
}

.col {
    float: left;
    height: 530px;
    background-color: violet;
    margin-top: 40px;
}

.sx {
    width: 23%;
    margin-right: 3%;
}

.md {
    width: 48%;
    margin-right: 3%;
}

.dx {
    width: 23%;
}